Repository Yanina-Unrein/MyVet_TSDWAD, pull requests merged in 2023-06, with the labels that each got.

#290 Refactoricé el formulario de registro.
  Backend/Clases.py
  Backend/README.md
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/forms/forms.module.ts
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.css
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.html
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.ts
Labels: Task, Front-End

#291 Se configuró lo necesario para la vista el perfil y editar el panel de admin
  Backend/myvet_project/admin.py
  Backend/myvet_project/myvet_project/__pycache__/__init__.cpython-310.pyc
  Backend/myvet_project/myvet_project/__pycache__/settings.cpython-310.pyc
  Backend/myvet_project/myvet_project/__pycache__/urls.cpython-310.pyc
  Backend/myvet_project/myvet_project/__pycache__/wsgi.cpython-310.pyc
  Backend/myvet_project/myvet_project/settings.py
  Backend/myvet_project/productos/__pycache__/__init__.cpython-310.pyc
  Backend/myvet_project/productos/__pycache__/admin.cpython-310.pyc
  Backend/myvet_project/productos/__pycache__/apps.cpython-310.pyc
  Backend/myvet_project/productos/__pycache__/forms.cpython-310.pyc
  Backend/myvet_project/productos/__pycache__/models.cpython-310.pyc
  Backend/myvet_project/productos/__pycache__/urls.cpython-310.pyc
  Backend/myvet_project/productos/__pycache__/views.cpython-310.pyc
  Backend/myvet_project/productos/migrations/__pycache__/0001_initial.cpython-310.pyc
  Backend/myvet_project/productos/migrations/__pycache__/0002_alter_categoria_options_alter_producto_options_and_more.cpython-310.pyc
  Backend/myvet_project/productos/migrations/__pycache__/__init__.cpython-310.pyc
  Backend/myvet_project/vistaPerfilUsuario.py
Labels: Task, Backend

#295 Formulario de Login y validaciones
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.css
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.html
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.ts
Labels: Task, Front-End

#296 Adición de campo "username" para form de registro
  Backend/myvet_project/authentication/migrations/0004_alter_customuser_direccion.py
  Backend/myvet_project/authentication/models.py
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.html
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.ts
Labels: enhancement, Front-End

#306 Se agrego navbar ecommerce, footer ecommerce y se modifico la creacion de usuarios Backend
  .gitignore
  Backend/myvet_project/authentication/__pycache__/__init__.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/admin.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/apps.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/models.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/serializers.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/urls.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/views.cpython-311.pyc
  Backend/myvet_project/authentication/admin.py
  Backend/myvet_project/authentication/migrations/0001_initial.py
  Backend/myvet_project/authentication/migrations/0002_customuser_apellido_customuser_direccion_and_more.py
  Backend/myvet_project/authentication/migrations/0003_alter_customuser_direccion_alter_customuser_dni_and_more.py
  Backend/myvet_project/authentication/migrations/0004_alter_customuser_direccion.py
  Backend/myvet_project/authentication/migrations/__pycache__/0001_initial.cpython-311.pyc
  Backend/myvet_project/authentication/migrations/__pycache__/__init__.cpython-311.pyc
  Backend/myvet_project/authentication/models.py
  Backend/myvet_project/authentication/serializers.py
  Backend/myvet_project/authentication/urls.py
  Backend/myvet_project/authentication/views.py
  Backend/myvet_project/myvet_project/__pycache__/settings.cpython-311.pyc
  Backend/myvet_project/myvet_project/__pycache__/urls.cpython-311.pyc
  Backend/myvet_project/myvet_project/settings.py
  Backend/myvet_project/productos/migrations/0001_initial.py
  Backend/myvet_project/productos/migrations/0002_alter_categoria_options_alter_producto_options_and_more.py
  Backend/myvet_project/productos/migrations/__pycache__/0001_initial.cpython-311.pyc
  Backend/myvet_project/productos/migrations/__pycache__/0002_alter_categoria_options_alter_producto_options_and_more.cpython-311.pyc
  Backend/myvet_project/usuario/migrations/0001_initial.py
  Frontend/myvet.app/src/app/app.component.html
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.css
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/ecommerce/footer-ecommerce/footer-ecommerce.component.css
  Frontend/myvet.app/src/app/ecommerce/footer-ecommerce/footer-ecommerce.component.html
  Frontend/myvet.app/src/app/ecommerce/footer-ecommerce/footer-ecommerce.component.spec.ts
  Frontend/myvet.app/src/app/ecommerce/footer-ecommerce/footer-ecommerce.component.ts
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.css
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.html
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.spec.ts
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.ts
  Frontend/myvet.app/src/app/pages/ServiciosComponent/servicios.component.html
  Frontend/myvet.app/src/app/pages/contacto/contacto.component.html
  Frontend/myvet.app/src/app/pages/contacto/contacto.component.ts
  Frontend/myvet.app/src/app/pages/inicio/inicio.component.html
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.html
  Frontend/myvet.app/src/app/pages/quienes-somos/quienes-somos.component.html
  Frontend/myvet.app/src/app/pages/sucursales/sucursales.component.html
  Frontend/myvet.app/src/app/users/users.module.ts
  Frontend/myvet.app/src/assets/img/logo_1_transparente.png
  Frontend/myvet.app/src/assets/img/logo_1fondoblanco.jpg
  Frontend/myvet.app/src/assets/img/logo_myvet.png
Labels: Task, Front-End, Backend

#310 Ruteo hacia vista detallada
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.ts
  Frontend/myvet.app/src/app/ecommerce/producto/producto.component.html
  Frontend/myvet.app/src/app/ecommerce/producto/producto.component.ts
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.css
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.html
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/servicios/detalle-producto.service.spec.ts
  Frontend/myvet.app/src/servicios/detalle-producto.service.ts
Labels: enhancement, Task, Front-End

#311 Cree componente favoritos
  Backend/myvet_project/authentication/__pycache__/__init__.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/admin.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/apps.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/models.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/serializers.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/urls.cpython-311.pyc
  Backend/myvet_project/authentication/__pycache__/views.cpython-311.pyc
  Backend/myvet_project/authentication/migrations/0001_initial.py
  Backend/myvet_project/authentication/migrations/__pycache__/0001_initial.cpython-311.pyc
  Backend/myvet_project/authentication/migrations/__pycache__/__init__.cpython-311.pyc
  Backend/myvet_project/myvet_project/__pycache__/__init__.cpython-311.pyc
  Backend/myvet_project/myvet_project/__pycache__/settings.cpython-311.pyc
  Backend/myvet_project/myvet_project/__pycache__/urls.cpython-311.pyc
  Backend/myvet_project/myvet_project/__pycache__/wsgi.cpython-311.pyc
  Backend/myvet_project/productos/__pycache__/__init__.cpython-311.pyc
  Backend/myvet_project/productos/__pycache__/admin.cpython-311.pyc
  Backend/myvet_project/productos/__pycache__/apps.cpython-311.pyc
  Backend/myvet_project/productos/__pycache__/forms.cpython-311.pyc
  Backend/myvet_project/productos/__pycache__/models.cpython-311.pyc
  Backend/myvet_project/productos/__pycache__/urls.cpython-311.pyc
  Backend/myvet_project/productos/__pycache__/views.cpython-311.pyc
  Backend/myvet_project/productos/migrations/0001_initial.py
  Backend/myvet_project/productos/migrations/__pycache__/0001_initial.cpython-311.pyc
  Backend/myvet_project/productos/migrations/__pycache__/__init__.cpython-311.pyc
  Backend/myvet_project/usuario/migrations/0001_initial.py
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/ecommerce/favoritos/favoritos.component.css
  Frontend/myvet.app/src/app/ecommerce/favoritos/favoritos.component.html
  Frontend/myvet.app/src/app/ecommerce/favoritos/favoritos.component.spec.ts
  Frontend/myvet.app/src/app/ecommerce/favoritos/favoritos.component.ts
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.html
Labels: Task, Front-End

#313 Implementación de funcionalidad registro
  Backend/myvet_project/authentication/migrations/0001_initial.py
  Backend/myvet_project/myvet_project/settings.py
  Backend/myvet_project/productos/migrations/0001_initial.py
  Backend/myvet_project/usuario/migrations/0001_initial.py
  Frontend/myvet.app/angular.json
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.html
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.ts
  Frontend/myvet.app/src/proxy.conf.json
  Frontend/myvet.app/src/servicios/registro.service.ts
Labels: Task, Front-End

#314 Dev aylen2023
  Backend/myvet_project/authentication/serializers.py
  Backend/myvet_project/authentication/views.py
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.ts
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.ts
  Frontend/myvet.app/src/servicios/login.service.ts
Labels: Task, Backend

#320 Implementación de login y logout
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.css
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.html
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.ts
  Frontend/myvet.app/src/app/forms/forms.module.ts
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.css
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.html
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.ts
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.html
  Frontend/myvet.app/src/app/users/menu/menu.component.css
  Frontend/myvet.app/src/app/users/menu/menu.component.html
  Frontend/myvet.app/src/app/users/menu/menu.component.ts
  Frontend/myvet.app/src/servicios/login.service.ts
Labels: enhancement, Task, Front-End

#316 Agregue archivo readme al backend con los comandos y el requirements para el proyecto backend
  .gitignore
  Backend/.gitignore
  Backend/README.md
  Backend/Readme.md
  Backend/myvet_project/requirements.txt
Labels: documentation, Backend

#321 Cambios a template detalle producto y template perfil
  Backend/myvet_project/myvet_project/settings.py
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.html
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.css
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.html
  Frontend/myvet.app/src/app/users/menu/menu.component.html
  Frontend/myvet.app/src/app/users/perfil/perfil.component.css
  Frontend/myvet.app/src/app/users/perfil/perfil.component.html
  Frontend/myvet.app/src/app/users/users.module.ts
  package-lock.json
  package.json
Labels: enhancement, Task, Front-End

#322 Agregue template a carrito con funcionalidad agregar y eliminar
  Backend/Readme.md
  Backend/myvet_project/myvet_project/settings.py
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.html
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.ts
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.html
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.ts
  Frontend/myvet.app/src/app/users/carrito/carrito.component.css
  Frontend/myvet.app/src/app/users/carrito/carrito.component.html
  Frontend/myvet.app/src/app/users/carrito/carrito.component.ts
  Frontend/myvet.app/src/app/users/users.module.ts
  Frontend/myvet.app/src/servicios/productos.service.ts
Labels: Front-End

#323 Favoritos
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/ecommerce/favoritos/favoritos.component.css
  Frontend/myvet.app/src/app/ecommerce/favoritos/favoritos.component.html
  Frontend/myvet.app/src/app/ecommerce/favoritos/favoritos.component.ts
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.css
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.html
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.ts
  Frontend/myvet.app/src/app/users/menu/menu.component.html
  Frontend/myvet.app/src/app/users/menu/menu.component.ts
  Frontend/myvet.app/src/app/users/users.module.ts
  Frontend/myvet.app/src/servicios/productos.service.ts
Labels: enhancement, Task, Front-End

#324 Correcciones al responsivo del navbar y footer global, boton emergencias andando y responsivo de categorias
  .gitignore
  Backend/README.md
  Frontend/myvet.app/README.md
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.css
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.css
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.html
  Frontend/myvet.app/src/app/ecommerce/navbar-ecommerce/navbar-ecommerce.component.css
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.css
  Frontend/myvet.app/src/app/shared/footer/footer.component.css
  Frontend/myvet.app/src/app/shared/footer/footer.component.html
  Frontend/myvet.app/src/app/shared/footer/footer.component.ts
  Frontend/myvet.app/src/app/shared/navbar/navbar.component.css
  Frontend/myvet.app/src/app/shared/navbar/navbar.component.html
  Frontend/myvet.app/src/app/users/carrito/carrito.component.ts
Labels: enhancement, Task, Front-End

#331 correcciones del sprint 0 y 1
  .gitignore
  Backend/.gitignore
  Backend/myvet_project/authentication/migrations/0002_usuario_stripe_card_token_usuario_stripe_customer_id.py
  Backend/myvet_project/authentication/models.py
  Backend/myvet_project/authenticationStripe.py
  Backend/myvet_proyect/Scripts/Activate.ps1
  Backend/myvet_proyect/Scripts/activate
  Backend/myvet_proyect/Scripts/activate.bat
  Backend/myvet_proyect/Scripts/deactivate.bat
  Backend/myvet_proyect/Scripts/django-admin.exe
  Backend/myvet_proyect/Scripts/pip.exe
  Backend/myvet_proyect/Scripts/pip3.11.exe
  Backend/myvet_proyect/Scripts/pip3.exe
  Backend/myvet_proyect/Scripts/python.exe
  Backend/myvet_proyect/Scripts/pythonw.exe
  Backend/myvet_proyect/Scripts/sqlformat.exe
  Backend/myvet_proyect/pyvenv.cfg
  Documentacion/IEEE 830-SGEC-MyVET.pdf
  Documentacion/diagrama_DER_ecommerce.png
  Frontend/myvet.app/package-lock.json
  Frontend/myvet.app/package.json
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.ts
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.html
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.ts
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/ecommerce/paypal/paypal.component.html
  Frontend/myvet.app/src/app/ecommerce/paypal/paypal.component.ts
  Frontend/myvet.app/src/app/models/productos.model.ts
  Frontend/myvet.app/src/app/users/carrito/carrito.component.html
  Frontend/myvet.app/src/app/users/carrito/carrito.component.ts
  Frontend/myvet.app/src/app/users/users.module.ts
  Frontend/myvet.app/src/data/db.json
  Frontend/myvet.app/src/servicios/productos.service.ts
Labels: documentation, enhancement

#332 Correcciones sprint 0 y 1
  .gitignore
  Backend/.gitignore
  Backend/myvet_project/authentication/migrations/0002_usuario_stripe_card_token_usuario_stripe_customer_id.py
  Backend/myvet_project/authentication/models.py
  Backend/myvet_project/authenticationStripe.py
  Backend/myvet_proyect/Scripts/Activate.ps1
  Backend/myvet_proyect/Scripts/activate
  Backend/myvet_proyect/Scripts/activate.bat
  Backend/myvet_proyect/Scripts/deactivate.bat
  Backend/myvet_proyect/Scripts/django-admin.exe
  Backend/myvet_proyect/Scripts/pip.exe
  Backend/myvet_proyect/Scripts/pip3.11.exe
  Backend/myvet_proyect/Scripts/pip3.exe
  Backend/myvet_proyect/Scripts/python.exe
  Backend/myvet_proyect/Scripts/pythonw.exe
  Backend/myvet_proyect/Scripts/sqlformat.exe
  Backend/myvet_proyect/pyvenv.cfg
  Documentacion/IEEE 830-SGEC-MyVET.pdf
  Documentacion/diagrama_DER_ecommerce.png
  Frontend/myvet.app/package-lock.json
  Frontend/myvet.app/package.json
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.ts
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.html
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.ts
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/ecommerce/paypal/paypal.component.html
  Frontend/myvet.app/src/app/ecommerce/paypal/paypal.component.ts
  Frontend/myvet.app/src/app/models/productos.model.ts
  Frontend/myvet.app/src/app/users/carrito/carrito.component.html
  Frontend/myvet.app/src/app/users/carrito/carrito.component.ts
  Frontend/myvet.app/src/app/users/users.module.ts
  Frontend/myvet.app/src/data/db.json
  Frontend/myvet.app/src/servicios/productos.service.ts
Labels: documentation, enhancement

#333 Agregué documentación y arreglé un error ortográfico en el carrito
  Documentacion/Diagrama_CasoDeUso.drawio.png
  Frontend/myvet.app/src/app/users/carrito/carrito.component.html
Labels: documentation

#334 Se agregó Diagrama de Casos de Uso
  Documentacion/Diagrama_CasoDeUso.drawio.png
  Frontend/myvet.app/src/app/users/carrito/carrito.component.html
Labels: documentation, enhancement
