Repository Yanina-Unrein/MyVet_TSDWAD, pull requests merged in 2023-05, with the labels that each got.

#193 Agrego proyecto en angular myvet.app y el script en python de la implementación de clases
  Backend/Clases.py
  Frontend/myvet.app/.editorconfig
  Frontend/myvet.app/.gitignore
  Frontend/myvet.app/.vscode/extensions.json
  Frontend/myvet.app/.vscode/launch.json
  Frontend/myvet.app/.vscode/tasks.json
  Frontend/myvet.app/README.md
  Frontend/myvet.app/angular.json
  Frontend/myvet.app/package-lock.json
  Frontend/myvet.app/package.json
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.component.css
  Frontend/myvet.app/src/app/app.component.html
  Frontend/myvet.app/src/app/app.component.spec.ts
  Frontend/myvet.app/src/app/app.component.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/assets/.gitkeep
  Frontend/myvet.app/src/favicon.ico
  Frontend/myvet.app/src/index.html
  Frontend/myvet.app/src/main.ts
  Frontend/myvet.app/src/styles.css
  Frontend/myvet.app/tsconfig.app.json
  Frontend/myvet.app/tsconfig.json
  Frontend/myvet.app/tsconfig.spec.json
Labels: Task, Front-End, Backend

#194 elimine los readme de más en las carpetas Frontend y Backend
  Backend/README.md
  Frontend/README.md
Labels: duplicate

#196 Corrección de contenido inicial de proyecto
  Frontend/myvet.app/src/app/app.component.html
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/shared/shared.module.ts
Labels: Front-End

#198 creacion componente sucursales y subidas las imagenes del proyecto
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/pages/sucursales/sucursales.component.css
  Frontend/myvet.app/src/app/pages/sucursales/sucursales.component.html
  Frontend/myvet.app/src/app/pages/sucursales/sucursales.component.spec.ts
  Frontend/myvet.app/src/app/pages/sucursales/sucursales.component.ts
  Frontend/myvet.app/src/assets/img/LogoCorazon.png
  Frontend/myvet.app/src/assets/img/LogoHueso.png
  Frontend/myvet.app/src/assets/img/Logo_modif.png
  Frontend/myvet.app/src/assets/img/Main.jpg
  Frontend/myvet.app/src/assets/img/card_consulta.jpg
  Frontend/myvet.app/src/assets/img/card_diagnosticoPorImagenes.jpg
  Frontend/myvet.app/src/assets/img/card_especialidades.jpg
  Frontend/myvet.app/src/assets/img/card_guardia.jpg
  Frontend/myvet.app/src/assets/img/card_peluqueria.jpg
  Frontend/myvet.app/src/assets/img/card_tienda.jpg
  Frontend/myvet.app/src/assets/img/emerg.png
  Frontend/myvet.app/src/assets/img/emergencias.png
  Frontend/myvet.app/src/assets/img/img.jpg
  Frontend/myvet.app/src/assets/img/logo-negro.png
  Frontend/myvet.app/src/assets/img/proximamente.jpg
Labels: Front-End

#199 Agregué componente Inicio
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/pages/inicio/inicio.component.css
  Frontend/myvet.app/src/app/pages/inicio/inicio.component.html
  Frontend/myvet.app/src/app/pages/inicio/inicio.component.spec.ts
  Frontend/myvet.app/src/app/pages/inicio/inicio.component.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
Labels: Front-End

#200 Agregé cmponente Contacto
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/pages/contacto/contacto.component.css
  Frontend/myvet.app/src/app/pages/contacto/contacto.component.html
  Frontend/myvet.app/src/app/pages/contacto/contacto.component.spec.ts
  Frontend/myvet.app/src/app/pages/contacto/contacto.component.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
Labels: Front-End

#201 Agregué componente Quienes somos
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/pages/quienes-somos/quienes-somos.component.css
  Frontend/myvet.app/src/app/pages/quienes-somos/quienes-somos.component.html
  Frontend/myvet.app/src/app/pages/quienes-somos/quienes-somos.component.spec.ts
  Frontend/myvet.app/src/app/pages/quienes-somos/quienes-somos.component.ts
Labels: Front-End

#204 Creé el componente servicios
  Frontend/myvet.app/src/app/SharedModule/shared.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/pages/ServiciosComponent/servicios.component.css
  Frontend/myvet.app/src/app/pages/ServiciosComponent/servicios.component.html
  Frontend/myvet.app/src/app/pages/ServiciosComponent/servicios.component.spec.ts
  Frontend/myvet.app/src/app/pages/ServiciosComponent/servicios.component.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.html
Labels: Front-End

#210 se agrego componente navbar al modulo shared y se establecio el ruteo de la aplicacion
  Frontend/myvet.app/src/app/SharedModule/shared.module.ts
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.component.html
  Frontend/myvet.app/src/app/app.component.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/pages/ServiciosComponent/servicios.component.css
  Frontend/myvet.app/src/app/pages/contacto/contacto.component.ts
  Frontend/myvet.app/src/app/pages/inicio/inicio.component.css
  Frontend/myvet.app/src/app/pages/inicio/inicio.component.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.html
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.ts
  Frontend/myvet.app/src/app/pages/quienes-somos/quienes-somos.component.ts
  Frontend/myvet.app/src/app/pages/sucursales/sucursales.component.html
  Frontend/myvet.app/src/app/pages/sucursales/sucursales.component.ts
  Frontend/myvet.app/src/app/shared/navbar/navbar.component.css
  Frontend/myvet.app/src/app/shared/navbar/navbar.component.html
  Frontend/myvet.app/src/app/shared/navbar/navbar.component.spec.ts
  Frontend/myvet.app/src/app/shared/navbar/navbar.component.ts
  Frontend/myvet.app/src/app/shared/shared.module.ts
  Frontend/myvet.app/src/index.html
  Frontend/myvet.app/src/styles.css
Labels: Task, Front-End

#220 Agregué módulo ecommerce a Develop
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
Labels: Front-End

#224 Subí componente Header
  Frontend/myvet.app/src/app/app.component.html
  Frontend/myvet.app/src/app/shared/header/header.component.css
  Frontend/myvet.app/src/app/shared/header/header.component.html
  Frontend/myvet.app/src/app/shared/header/header.component.spec.ts
  Frontend/myvet.app/src/app/shared/header/header.component.ts
  Frontend/myvet.app/src/app/shared/shared.module.ts
Labels: Task, Front-End

#227 Se creó el componente CatalogoComponent dentro de EcommerceModule
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.css
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.spec.ts
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.ts
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.html
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.ts
Labels: Task, Front-End

#228 Se creó el componente producto
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.css
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/ecommerce/producto/producto.component.css
  Frontend/myvet.app/src/app/ecommerce/producto/producto.component.html
  Frontend/myvet.app/src/app/ecommerce/producto/producto.component.spec.ts
  Frontend/myvet.app/src/app/ecommerce/producto/producto.component.ts
  Frontend/myvet.app/src/assets/img/bolsa_comida_perro.jpg
Labels: Task, Front-End

#229 Agregué el componente banner
  Backend/myvet_ecommerce.sql
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/banner/banner.component.css
  Frontend/myvet.app/src/app/ecommerce/banner/banner.component.html
  Frontend/myvet.app/src/app/ecommerce/banner/banner.component.spec.ts
  Frontend/myvet.app/src/app/ecommerce/banner/banner.component.ts
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.html
  Frontend/myvet.app/src/assets/img/banner gatito.png
  Frontend/myvet.app/src/assets/img/banner-animales felices.jpeg
  Frontend/myvet.app/src/assets/img/banner-paraellos.jpeg
Labels: Task, Front-End

#230 Agregué el componente vista-detallada dentro del módulo ecommerce
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.css
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.html
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.spec.ts
  Frontend/myvet.app/src/app/ecommerce/vista-detallada/vista-detallada.component.ts
Labels: Task, Front-End

#231 cree mi componente buscar por animales y modifique el ruteo
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.css
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.html
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.spec.ts
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.ts
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.html
  Frontend/myvet.app/src/assets/img/aves_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/exoticos_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/gato2_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/gato_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/hamster_buscarAnimal.jpg
  Frontend/myvet.app/src/assets/img/peces_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/pequenos_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/perro2_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/perro_buscarAnimales.jpg
  Frontend/myvet.app/src/index.html
  Frontend/myvet.app/src/styles.css
Labels: Task, Front-End

#233 Inserté el componente categorías dentro del componente petshop
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.css
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.html
Labels: Task, Front-End

#234 agregué el css y corregí el html
  Frontend/myvet.app/src/app/ecommerce/promociones-bancarias/promociones-bancarias.component.css
  Frontend/myvet.app/src/app/ecommerce/promociones-bancarias/promociones-bancarias.component.html
Labels: Task, Front-End

#237 Dev santiago2023
  Frontend/myvet.app/src/app/ecommerce/promociones-bancarias/promociones-bancarias.component.css
  Frontend/myvet.app/src/app/ecommerce/promociones-bancarias/promociones-bancarias.component.html
  Frontend/myvet.app/src/app/ecommerce/promociones-bancarias/promociones-bancarias.component.ts
Labels: Front-End

#241 arregle el responsive del componente buscar por animales
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.css
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.html
  Frontend/myvet.app/src/assets/img/aves_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/exoticos_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/gato2_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/gato_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/hamster_buscarAnimal.jpg
  Frontend/myvet.app/src/assets/img/peces_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/pequenos_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/perro2_buscarAnimales.jpg
  Frontend/myvet.app/src/assets/img/perro_buscarAnimales.jpg
Labels: Task, Front-End

#249 cree proyecto Django en la carpeta Backend con sus respectivas apps y…
  Backend/myvet/aplicaciones/catalogo/__init__.py
  Backend/myvet/aplicaciones/catalogo/admin.py
  Backend/myvet/aplicaciones/catalogo/apps.py
  Backend/myvet/aplicaciones/catalogo/migrations/__init__.py
  Backend/myvet/aplicaciones/catalogo/models.py
  Backend/myvet/aplicaciones/catalogo/tests.py
  Backend/myvet/aplicaciones/catalogo/views.py
  Backend/myvet/aplicaciones/medios_pago/__init__.py
  Backend/myvet/aplicaciones/medios_pago/admin.py
  Backend/myvet/aplicaciones/medios_pago/apps.py
  Backend/myvet/aplicaciones/medios_pago/migrations/__init__.py
  Backend/myvet/aplicaciones/medios_pago/models.py
  Backend/myvet/aplicaciones/medios_pago/tests.py
  Backend/myvet/aplicaciones/medios_pago/views.py
  Backend/myvet/aplicaciones/productos/__init__.py
  Backend/myvet/aplicaciones/productos/admin.py
  Backend/myvet/aplicaciones/productos/apps.py
  Backend/myvet/aplicaciones/productos/migrations/__init__.py
  Backend/myvet/aplicaciones/productos/models.py
  Backend/myvet/aplicaciones/productos/tests.py
  Backend/myvet/aplicaciones/productos/views.py
  Backend/myvet/aplicaciones/usuario/__init__.py
  Backend/myvet/aplicaciones/usuario/admin.py
  Backend/myvet/aplicaciones/usuario/apps.py
  Backend/myvet/aplicaciones/usuario/migrations/__init__.py
  Backend/myvet/aplicaciones/usuario/models.py
  Backend/myvet/aplicaciones/usuario/tests.py
  Backend/myvet/aplicaciones/usuario/views.py
  Backend/myvet/aplicaciones/ventas/__init__.py
  Backend/myvet/aplicaciones/ventas/admin.py
  Backend/myvet/aplicaciones/ventas/apps.py
  Backend/myvet/aplicaciones/ventas/migrations/__init__.py
  Backend/myvet/aplicaciones/ventas/models.py
  Backend/myvet/aplicaciones/ventas/tests.py
  Backend/myvet/aplicaciones/ventas/views.py
  Backend/myvet/manage.py
  Backend/myvet/myvet/__init__.py
  Backend/myvet/myvet/asgi.py
  Backend/myvet/myvet/settings.py
  Backend/myvet/myvet/urls.py
  Backend/myvet/myvet/wsgi.py
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.ts
  README.md
Labels: Task, Backend

#255 Agregué componentes Inicio Sesión y Registrarse
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.ts
  Frontend/myvet.app/src/app/forms/forms.module.ts
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.css
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.html
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.spec.ts
  Frontend/myvet.app/src/app/forms/inicio-sesion/inicio-sesion.component.ts
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.css
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.html
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.spec.ts
  Frontend/myvet.app/src/app/forms/registrarse/registrarse.component.ts
  Frontend/myvet.app/src/app/pages/inicio/inicio.component.html
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/shared/footer/footer.component.css
  Frontend/myvet.app/src/app/shared/footer/footer.component.html
  Frontend/myvet.app/src/app/shared/navbar/navbar.component.html
  Frontend/myvet.app/src/assets/img/logo_1_transparente.png
  Frontend/myvet.app/src/assets/img/logo_1fondoblanco.jpg
Labels: Task, Front-End

#258 Agregué usuarios a django-admin
  Backend/myvet/aplicaciones/catalogo/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/aplicaciones/catalogo/__pycache__/admin.cpython-310.pyc
  Backend/myvet/aplicaciones/catalogo/__pycache__/apps.cpython-310.pyc
  Backend/myvet/aplicaciones/catalogo/__pycache__/models.cpython-310.pyc
  Backend/myvet/aplicaciones/catalogo/migrations/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/aplicaciones/medios_pago/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/aplicaciones/medios_pago/__pycache__/admin.cpython-310.pyc
  Backend/myvet/aplicaciones/medios_pago/__pycache__/apps.cpython-310.pyc
  Backend/myvet/aplicaciones/medios_pago/__pycache__/models.cpython-310.pyc
  Backend/myvet/aplicaciones/medios_pago/migrations/__pycache__/0001_initial.cpython-310.pyc
  Backend/myvet/aplicaciones/medios_pago/migrations/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/aplicaciones/productos/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/aplicaciones/productos/__pycache__/admin.cpython-310.pyc
  Backend/myvet/aplicaciones/productos/__pycache__/apps.cpython-310.pyc
  Backend/myvet/aplicaciones/productos/__pycache__/models.cpython-310.pyc
  Backend/myvet/aplicaciones/productos/migrations/__pycache__/0001_initial.cpython-310.pyc
  Backend/myvet/aplicaciones/productos/migrations/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/aplicaciones/usuario/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/aplicaciones/usuario/__pycache__/admin.cpython-310.pyc
  Backend/myvet/aplicaciones/usuario/__pycache__/apps.cpython-310.pyc
  Backend/myvet/aplicaciones/usuario/__pycache__/models.cpython-310.pyc
  Backend/myvet/aplicaciones/usuario/migrations/__pycache__/0001_initial.cpython-310.pyc
  Backend/myvet/aplicaciones/usuario/migrations/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/aplicaciones/ventas/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/aplicaciones/ventas/__pycache__/admin.cpython-310.pyc
  Backend/myvet/aplicaciones/ventas/__pycache__/apps.cpython-310.pyc
  Backend/myvet/aplicaciones/ventas/__pycache__/models.cpython-310.pyc
  Backend/myvet/aplicaciones/ventas/migrations/__pycache__/0001_initial.cpython-310.pyc
  Backend/myvet/aplicaciones/ventas/migrations/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/myvet/__pycache__/__init__.cpython-310.pyc
  Backend/myvet/myvet/__pycache__/settings.cpython-310.pyc
  Backend/myvet/myvet/__pycache__/urls.cpython-310.pyc
  Backend/myvet/myvet/__pycache__/wsgi.cpython-310.pyc
Labels: Backend

#260 Creé los componentes Datos de tarjeta y Lista de deseos
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/ecommerce/lista-de-deseos/lista-de-deseos.component.css
  Frontend/myvet.app/src/app/ecommerce/lista-de-deseos/lista-de-deseos.component.html
  Frontend/myvet.app/src/app/ecommerce/lista-de-deseos/lista-de-deseos.component.spec.ts
  Frontend/myvet.app/src/app/ecommerce/lista-de-deseos/lista-de-deseos.component.ts
  Frontend/myvet.app/src/app/forms/datos-tarjeta/datos-tarjeta.component.css
  Frontend/myvet.app/src/app/forms/datos-tarjeta/datos-tarjeta.component.html
  Frontend/myvet.app/src/app/forms/datos-tarjeta/datos-tarjeta.component.spec.ts
  Frontend/myvet.app/src/app/forms/datos-tarjeta/datos-tarjeta.component.ts
  Frontend/myvet.app/src/app/forms/forms.module.ts
Labels: Task, Front-End

#261 Se movió el JSON a una carpeta dentro del proyecto
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.ts
  Frontend/myvet.app/src/data/db.json
Labels: bug

#263 Se actualizó el componente footer
  Frontend/myvet.app/src/app/shared/footer/footer.component.css
  Frontend/myvet.app/src/app/shared/footer/footer.component.html
  Frontend/myvet.app/src/index.html
Labels: Front-End

#265 Modifiqué componente Categorías
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.css
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.html
Labels: Task, Front-End

#264 Implementación de Productos dinámicos.
  Frontend/myvet.app/src/app/app.component.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.ts
  Frontend/myvet.app/src/app/ecommerce/producto/producto.component.html
  Frontend/myvet.app/src/app/ecommerce/producto/producto.component.ts
  Frontend/myvet.app/src/app/models/productos.model.ts
  Frontend/myvet.app/src/app/productos.service.ts
  Frontend/myvet.app/src/data/db.json
Labels: Task, Front-End

#267 Resolviendo conflictos
  Frontend/myvet.app/src/app/app-routing.module.ts
  Frontend/myvet.app/src/app/app.module.ts
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.html
  Frontend/myvet.app/src/app/ecommerce/ecommerce.module.ts
  Frontend/myvet.app/src/app/forms/forms.module.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
Labels: bug

#266 Cree servicio Filtro para los módulos categorías y buscar animales, se aplica la lógica de filtrar
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.css
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.html
  Frontend/myvet.app/src/app/ecommerce/buscar-animales/buscar-animales.component.ts
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.html
  Frontend/myvet.app/src/app/ecommerce/catalogo/catalogo.component.ts
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.css
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.html
  Frontend/myvet.app/src/app/ecommerce/categorias/categorias.component.ts
  Frontend/myvet.app/src/app/ecommerce/producto/producto.component.ts
  Frontend/myvet.app/src/app/pages/pages.module.ts
  Frontend/myvet.app/src/app/pages/petshop/petshop.component.ts
  Frontend/myvet.app/src/app/productos.service.spec.ts
  Frontend/myvet.app/src/app/productos.service.ts
  Frontend/myvet.app/src/app/shared/navbar/navbar.component.css
  Frontend/myvet.app/src/app/shared/navbar/navbar.component.html
  Frontend/myvet.app/src/data/db.json
Labels: Task, Front-End
