Repository Yanina-Unrein/MyVet_TSDWAD, pull requests merged in 2023-04, with the labels that each got.

#142 Se actualizaron los miembros del grupo
  README.md
Labels: documentation

#149 Organización de carpetas del repositorio
  Frontend/inicioSesion.html
  Frontend/servicios.html
Labels: Task

#181 agrego script BD myvet_ecommerce
  Documentacion/myvet_ecommerce.sql
Labels: SQL

#183 Agregué al script las tablas "categorías" y "medios_pago"
  Documentacion/myvet_ecommerce.sql
Labels: SQL, Task

#185 Agregué tabla venta al script de la BD
  Documentacion/myvet_ecommerce.sql
Labels: SQL, Task

#186 agregué tabla tarjeta_de_pago al script de la BD
  Documentacion/myvet_ecommerce.sql
Labels: SQL, Task

#187 Tabla intermedia producto_sucursales
  Documentacion/myvet_ecommerce.sql
Labels: SQL, Task
